@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    --font-title: "Bree Serif", serif;
    --font-regular: "Poppins", sans-serif;

    margin: 0;

    min-height: 100%;
    min-width: 100%;
}

.ThemeDark {
    --bg-primary: #3B7097;
    --bg-light: #34607A;
    --bg-dark: #254D61;

    --fg-primary: #FFFFFF;
    --fg-secondary: #536841;

    --btn-on: #5D815C;
    --btn-off: #F6E2BC;

    --cmp-light: #C4C4C4;
    --cmp-dark: #7C7C7C;
}

.ThemeLight {
    --bg-primary: #CAE4F6;
    --bg-light: #B2CEDF;
    --bg-dark: #7292AF;

    --fg-primary: #536841;
    --fg-secondary: #FFFFFF;

    --btn-on: #A3BDA2;
    --btn-off: #FFFFFF;

    --cmp-light: #FFFFFF;
    --cmp-dark: #AAAAAA;
}
