.PageRepositories {
    display: grid;

    grid-template-areas:
        "a"
        "b";

    grid-gap: 10px;

    width: 100%;
    height: 100%;
}

.ActiveRepositories {
    grid-area: a;
}

.ArchivedRepositories {
    grid-area: b;
}
