.ConditionBadge {
    display: inline-flex;

    gap: 5px;
    padding: 0 5px;
    border-radius: 25px;
    margin: 0 2px;

    max-width: 200px;
    overflow-x: hidden;
}

.ConditionBadgeRed {
    background-color: var(--bg-red);
    color: var(--fg-red)
}

.ConditionBadgeYellow {
    background-color: var(--bg-yellow);
    color: var(--fg-yellow)
}

.ConditionBadgeGrey {
    background-color: var(--bg-grey);
    color: var(--fg-grey)
}

.ConditionBadgeGreen {
    background-color: var(--bg-green);
    color: var(--fg-green)
}

.Icon {
    width: 15px;
    text-align: center;
}