.PageHome {
    display: grid;

    grid-template-areas:
        "a a a"
        "b c f"
        "b d f"
        "b e f"
        "b g g"
    ;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;

    grid-gap: 10px;

    width: 100%;
    height: 100%;
}

.Header {
    grid-area: a;
}

.SearchByZone {
    grid-area: b;
}

.SearchByHashtags {
    grid-area: c;
}

.SearchByUser {
    grid-area: d;
}

.SearchByTimePeriod {
    grid-area: e;
}

.Conditions {
    grid-area: f;
}

.CreateDialog {
    grid-area: g;
}
