.Layout {
    height: 100vh;
    width: 100vw;
    padding: 16px;

    background-color: var(--bg-primary);
    color: var(--fg-primary);

    display: grid;
    grid-template-areas:
        "a b"
    ;
    grid-template-columns: 250px 1fr;

    grid-gap: 10px;
}

.LayoutSidebar {
    grid-area: a;
}

.LayoutContent {
    grid-area: b;
}
